autopep8==1.5.7
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
Flask==2.0.1
greenlet==1.1.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
pycodestyle==2.7.0
python-dotenv==0.18.0
requests==2.25.1
SQLAlchemy==1.4.20
toml==0.10.2
urllib3==1.26.6
Werkzeug==2.0.1
